{% extends "layout.html" %}
{% block title %}
Edit {{entry.title}}
{% endblock %}
{% block body %}
	{% if session.active %}
		{% if entry %}
		<form action="{{ url_for('edit_entry_update',context='post',slug=entry.slug) }}" method="POST" class="entry-form">
			<dl>
				<dt>Title:
				<dd><input type="text" size=30 name="title" value="{{ entry.title }}">
				<dt>Text:
				<dd><textarea name="body" rows=5 cols=40>{{entry.body}}</textarea>
				<dt>Slug:
				<dd><input type="text" size=30 name="slug" value="{{ entry.slug }}">
				<dd><input type="submit" value="Update">
			</dl>
		</form>
		{% else %}
			<p> Sure that entry actually exists?</p>
		{% endif %}
	{% endif %}
{% endblock %}
